
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,800;1,700&display=swap');




footer{
    height: 7rem;
    background-color: #314E52;
    
}

.textf{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

header{
    
    background-color: #314E52;
    border: 12px solid white;
}

nav ul li{
    list-style: none;
    padding: 0% 27px;
}

nav ul li a{
    list-style: none;
    color: aliceblue;
    text-decoration: none;
    
}
nav ul li a:hover{
    font-weight: bold;
    color:#E7E6E1;
    font-size: 20px;
    
}

nav ul{

    height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    
}

nav{
   display: flex;
}

.logo img{
    height: 4rem;
    width: 5rem;
    padding: 0 19px;
}

.container{
    min-height: calc(100rem - 58px - 7rem);
    background-color: #E7E6E1;
}


.search{
 
 display: flex;
 
 align-items: center;
 
}

.search input{
    width: 16rem;
    height: 2rem;
    border-radius: 4rem;
    border-color: #E7E6E1;
    margin: 0% 0.5rem;
    padding: 0% 1.5rem;
    
}

.slider img{
    width: 60rem;
    height: 14rem;
    margin: .5rem;
    border-radius: 1.75rem;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card h2{
    color: #314E52;
    font-family: 'Montserrat', sans-serif;
    

}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 15px;
}

.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F7F6E7;
    margin: 2rem;
    overflow: hidden;
}
.ll{
    color: #E7E6E1;
}